/*Общие стили (начало)*/
@font-face {
    font-family: BeautifulBloom; /* Имя шрифта */
    src: url(/resources/fonts/TTF/BeautifulBloom-Regular.ttf); /* Путь к файлу со шрифтом */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-family: 'Inter', sans-serif;
}

li {
  list-style-type: none;
}

a {
    text-decoration: none;
}


.btn {
    width: 250px;
    height: 60px;
    border-radius: 5px;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    border:none;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #E96E9A;
}

.hidden {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    padding: 0 10px;
    max-width: 1290px;
    margin: 0 auto;
}

/*Общие стили (конец)*/



/*Header (начало)*/
header {
    background-color: #F2F2F2;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header {
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 14px;
}

.menu__nav__btn {
    color: #9281A5;
}


.logo{
    font-family: BeautifulBloom;
    color: #E96E9A;
}

.logo-small {
    font-size: 55px;
}

.logo-big {
    text-align: center;
    font-size: 120px;
    display: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* width: 100%; */
}

.header__contacts {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.social-networks {
    display: flex;
    gap: 20px;
    flex-direction: row; 
}

.social-network__link {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-network__link> img {
    width: 100%;
    height: 100%;
}

.phone-link{
    color: #9281A5;
    font-size: 20px;
}


@media (max-width: 1440px){
    
    .menu__nav {
        display: none;
    }
    .menu__burger {
        display: block;
    }
}

@media (max-width: 834px){

    .cover__title {
        font-size: 30px;
    }
    
    .cover__who {
        font-size: 20px;
    }
    
    .cover__tagline {
        font-size: 25px;
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        display: block;
    }

    .cover__image{
        display: none;
    }

    .container {
        padding: 0 5px;
    }
}

/*Header (конец)*/



.content {
    margin-top: 82px;
    flex: 1 0 auto;
}

.cover {
    background-color: #9281A5;
}


.cover__container {
    height: calc(100vh - 82px);
    position: relative;
    /* display: flex; */
}

.cover__image {
    /* flex: 1 0 auto; */
    /* height: 100%; */
    /* position: relative; */
    /* position: absolute; */

    /* right: 0; */
    /* bottom: 0; */
    /* max-width: 50%; */
}

.cover__image > img{
    margin: 0;
    max-height: calc(97vh - 82px);
    min-height: calc(80vh - 82px);
    height: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0; 
}

.cover__content {
    margin-top: auto;
    bottom: 0;
}

/* .cover__content> * {
    padding-bottom: 5em;
} */

.cover__title,
.cover__who,
.cover__tagline {
    margin-bottom: 0.5em;
    
    color: #F2F2F2;
    font-family: 'Comfortaa';
    /* text-transform: uppercase; */
}

.cover__title {
    /* margin-top: 32vh; */
    font-size: 40px;
}

.cover__who {
    font-size: 30px;
}

.cover__tagline {
    
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
}

.cover__location {
    display: flex;
    align-items: center;
}

.cover__location> * {
    margin-right: 1em;
}

.address {
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}



/*Contacts (начало)*/


.map {
    display: none;
    width: 658px;
    height: 352px;
}
/*Contacts (конец)*/


/*Footer (начало)*/
.footer {
    flex: 0 0 auto;
}
/*Footer (конец)*/