/*Общие стили (начало)*/
@font-face {
    font-family: BeautifulBloom; /* Имя шрифта */
    src: url(/resources/fonts/TTF/BeautifulBloom-Regular.ttf); /* Путь к файлу со шрифтом */
}

html, 
body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

a[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.svg-box {
    position: relative;
    width: 100%;
    padding-bottom: 121%;
    overflow: hidden;
}

.img-svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa';
    border-radius: 10px;
    font-weight: 700;
    box-sizing: border-box;
}

.button:hover {
    text-decoration: none;
}

.main-title {
    text-align: center;
    font-size: 24px;
}

@media (min-width: 576px) {
    .main-title {
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    .main-title {
        font-size: 40px;
    }
}

#menu.hidden {
    width: 0px;
    visibility:hidden;
}
/*Общие стили (конец)*/



/* Modal-window (начало) */
.modal-window-bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: #000000a8;
    display: flex;
}

.modal-window {
    background-color: #FFFFFF;
    margin: auto auto;
    border-radius: 10px;
}

@media (max-width:576px) {
    .modal-window {
        width: 100%;
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (min-width:576px) {
    .modal-window {
        width: auto;
    }
}

.modal-window-content {
    padding: 3em 2em;
    padding-top: 0;
}

.header-modal-window {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 1em 0 1.5em auto;
    font-weight: 600;
    font-size: 14px;
    color: #383838;
}

@media (min-width: 576px) {
    .header-modal-window  {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .header-modal-window  {
        font-size: 25px;
    }
}

form {
    width: auto;
}

form input {
    border-radius: 5px;
    border: 2px solid #b1afb6;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    color: #726A6A;
}

@media (min-width: 576px) {
    form input  {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    form input  {
        font-size: 20px;
    }
}

.input-validator[not-valid] input {
    border: 2px solid #EC1616;
}

.input-validator[not-valid] input::placeholder {
    color: #EC1616;
}

.modal-window-inf {
    text-align: left;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: #383838;
}

@media (min-width: 576px) {
    .modal-window-inf   {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .modal-window-inf   {
        font-size: 18px;
    }
}

.modal-window-btn {
    border: 2px solid #CB0E7F;
    border-radius: 5px;
    width: 190px;
    height: 30px;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 12px;
    color: #CB0E7F;
    background-color: #FFFFFF;
    transition: background-color 0.2s linear;
}

@media (min-width: 576px) {
    .modal-window-btn   {
        width: 240px;
        height: 34px;
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .modal-window-btn  {
        border-radius: 10px;
        width: 280px;
        height: 44px;
        font-size: 18px;
    }
}

.modal-window-btn:hover {
    background-color: #CB0E7F;
    color: #ffffff;
    border: none;
}

.modal-window-btn:active {
    background-color: #CB0E7F;
    color: #ffffff;
    border: none;
    box-shadow: inset 4px 4px 6px #0000003f;
}


.modal-window-name,
.modal-window-number {
    color: #EC1616;
    text-align: left!important;
    font-size: 12px;
    margin-bottom: 1em;
    display: block;
    height: 12px;

}

@media (min-width: 576px) {
    .modal-window-name,
    .modal-window-number {
        font-size: 14px;
        margin-bottom: 1em;
        height: 14px;
}
}

@media (min-width: 992px) {
    .modal-window-name,
    .modal-window-number {
        font-size: 16px;
        height: 16px;
    }       

}


.header-answer {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 22px;
    color: #CB0E7F;
    text-align: center;
}

@media (min-width: 576px) {
    .header-answer {
        font-size: 25px;
    }
}
@media (min-width: 992px) {
    .header-answer   {
        font-size: 30px;
    }
}

.text-answer {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #383838;
}

@media (min-width: 576px) {
    .text-answer {
        font-size: 22px;
    }
}
@media (min-width: 992px) {
    .text-answer {
        font-size: 24px;
    }
}

.close {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 0.5em;
    cursor: pointer;
}


@media (min-width: 576px) {
    .close   {
        width: 20px;
        height: 20px;
    }
}
@media (min-width: 992px) {
    .close  {
        width: 25px;
        height: 25px;
    }
}

/* Modal-window (конец) */



/*Header (начало)*/
.header {
    background-color: #383838;
}

@media (min-width:768px) {
    .header {
        position: fixed;
        /* background-color: #383838e8; */
        width: 100%;
        z-index: 3000;
    }
}

.header-navigation a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 1.5em;
    color: #ffffff;
    transition: background-color 0.2s linear;
}

.header-navigation a:hover {
    color: #ffffff;
    background-color: #cb0e7f91;
}

@media (min-width: 768px) {  
    .header-navigation a {
        width: unset;
        padding: unset;
        text-align: unset;
        margin-right: 1em;
        font-size: 12px;
        letter-spacing: 5%;
        transition: color 0.2s linear;

    }

    .header-navigation a:hover { 
        background-color:unset;
        color: #F31F9F;
    }

    .header-navigation a:active {
        background-color:unset;
        color: #CB0E7F;
    }
}

.phone-link
/* .header-navigation a */
 {
    transition: color 0.2s linear;
}



.phone-icon-box .icon-phone-color,
.contact-data .icon-phone-color-dark{
    transition: fill 0.2s linear;
}

.header-phone:hover { 
    color: #F31F9F;
}

.header-phone:active {
    color: #CB0E7F;
}

.icon-phone-color, 
.social-networks-white .icon-network-color {
    fill: #ffffff;
}

.icon-phone-color-dark {
    fill: #383838;
}

.header-phone:hover .icon-phone-color,
.footer-phone:hover .icon-phone-color,
.contact-data:hover .icon-phone-color-dark,
.social-networks-white .network-icon:hover .icon-network-color
 {
    fill: #F31F9F;
}

.header-phone:active .icon-phone-color,
.footer-phone:active .icon-phone-color,
.contact-data:active .icon-phone-color-dark,
.social-networks-white .network-icon:active .icon-network-color {
    fill: #CB0E7F;
}

.header-burger {
    position: relative;
    width: 30px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-color: #00000001;
    margin: 1rem;
}

.burger-menu-container .header-burger-box {
    display: flex;
    justify-content: end;
}

.burger-menu-container[closed] .header-burger-box {
    display: flex;
    justify-content: start;
}

.burger-menu-container[closed] .header-burger
{
    margin: 0;
}

.header-burger::before,
.header-burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #FFFFFF;
}

.header-burger::before {
    top: 0;
}

.header-burger::after {
    bottom: 0;
}

.header-burger span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}

.burger-menu-container
{
    position: fixed;
    height: 100%;
    width: 70%;
    background-color: #000000ef;
    bottom: 0;
    left: 0;
    z-index: 5000;
}

@media (min-width:768px) {
    .burger-menu-container{
        position: unset;
        height: auto;
        width: auto;
        background: none;
        bottom: none;
        left: none;
        z-index: none;
    }
}
 
.burger-menu-container[closed]{
    position: unset;
    height: auto;
    width: auto;
    background: none;
    bottom: none;
    left: none;
    z-index: none;
}

.burger-menu-container[closed] .header-navigation{
    display: none;
}

.logo{
    font-family: BeautifulBloom;
    color: #CB0E7F;
}

.logo-small {
    font-size: 55px;
}

.logo-big {
    text-align: center;
    font-size: 120px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-phone {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.phone-link {
    display: none;
}
 
@media (min-width: 992px) {
    .phone-link {
        display: block;
    }
}


.header-phone-icon{
    width: 14px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.header-phone:hover {
    color: #F31F9F;
}

.header-navigation a:active,
.header-phone:active {
    color: #CB0E7F;
} */



.header-network-icon {
    margin: 0em 1em;
    width: 25px;
    height: 25px;
}

@media (min-width: 768px) {
    .header-network-icon {
        margin: 0 0.5em;
        margin-right: 0.5em;
    }
}

.header-burger {
    order: 1;
}


.header-phone {
    order: 3;
}

.social-networks {
    order:2;
}


@media (min-width: 768px) {
    .header-navigation {
        order: 1;
    }
    
    .logo-box {
        order: 2;
    }
    
    .header-phone {
        order: 4;
    }
    
    .social-networks {
        order:3;
    }
}


@media (min-width: 992px) {
    .header-navigation {
        order: 1;
    }
    
    .logo-box {
        order: 2;
    }
    
    .header-phone {
        order: 3;
    }
    
    .social-networks {
        order:4;
    }
}


/*Header (конец)*/



.content {
    flex: 1 0 auto;
}



/*Cover (начало)*/
.cover {
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('/resources/images/cover/cover_791x495.JPG');
    background-size:cover;
    background-position: 35% 0%;
    height: calc(100vh - 57px) ;
    margin-top:0px;
}

@media (min-width:768px) {
    .cover {
        background-position: 50% 0%;
        margin-top: 82px;
        height: calc(100vh - 82px) ;
    }
}

.cover-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
}

@media (min-width: 576px) {
    .cover-title {
        font-size: 65px;
        line-height: 46px;
    }
}
@media (min-width: 992px) {
    .cover-title {
        font-size: 115px;
        line-height: 100px;
    }
}

.cover-subtitle{
    font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #CB0E7F;
    text-align: right;
}

@media (min-width: 576px) {
    .cover-subtitle {
        font-size: 22px;
    }
}
@media (min-width: 992px) {
    .cover-subtitle {
        font-size: 32px;
    }
}

.cover-btn {
    font-family: 'Comfortaa';
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    width: 300px;
    height: 44px;
    transition: background-color 0.2s linear;
   
}

.cover-btn:hover {
    color: #383838;
    background-color: #FFFFFF;
    border: none;
}
.cover-btn:active {
    box-shadow: inset 4px 4px 6px #0000003f;
}

@media (min-width: 576px) {
    .cover-btn {
        font-size: 16px;
        width: 410px;
        height: 50px;
        line-height: 10px;
    }
}
@media (min-width: 992px) {
    .cover-btn  {
        font-size: 20px;
        width: 519px;
        height: 65px;
        line-height: 23px;
    }
}
/*Cover (конец)*/



/*Hello (начало)*/
.hello {
    text-align: center;
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    color: #383838;
    padding: 5em 0;
}

@media (max-width: 992px) {
    .hello {
        font-size: 16px;
        padding: 4em 0;
    }
}

@media (max-width: 576px) {
    .hello {
        padding: 3em 0;
        font-size: 12px;
        line-height: 15px;
    }
}


/*Hello (конец)*/



/*Services (начало)*/
.services {
    background-color: #383838;
    text-align: center;
}

.services h2{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 600;
}

.service-content {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    height: 100%;
    background-color: #383838;
    color: #ffffff;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

@media (min-width: 576px) {
    .service-content {
        /* min-height: ; */
    }
}

.service-content:hover {
    background-color: #ffffff;
    color: #383838;

}

.service-text{
   
}


.service-text:active {

}

.services-name,
.services-price {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    /* color: #FFFFFF; */
}

.services-name:hover,
.services-price:hover {
    font-weight: 400;
}

.services-name {
    text-align: left;
    font-size: 20px;
    word-wrap: break-word;
}

.services-price {
    margin-left: 0.2em;
    float: right;
    font-size: 24px;
}


@media (min-width: 992px) {
    
    .services-name {
        font-size: 24px;
    }

    .services-price {
        font-size: 30px;
    }
}

.show-more-link {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    transition: color 0.1s linear;
    text-transform: uppercase;
    /* letter-spacing: 0.1em; */
}

.show-more-link:hover {
    color: #F31F9F;
}

.show-more-link:active {
    color: #CB0E7F;
}

/*Services (конец)*/



/*Masters (начало)*/
.masters {
    text-align: center;
}

.carusel_btn {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
}

.carusel_btn_left::before {
    display: block;
    content: "\1438";
    font-weight: 800;
    color: #808080;
}

.carusel_btn_right::before {
    display: block;
    content: "\1433";
    font-weight: 800;
    color: #808080;
}

.carusel_btn_indicator {
    border-radius: 50%; 
    border: none;
    background-color: #b1afaf;
    width: 5px;
    height: 12px;
    margin:0 0.3em ;
}

.master-box {
    /* height: 100vh; */
    display: grid;
}

.master-photo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.master-info {
    padding: 1.5em 0;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 5;
    background-color: #000000d8;

}

@media (min-width: 768px) {
    .master-box {
        grid-template-columns: 1.6fr 0.17fr 1.17fr;
        grid-row: 1;
    }

    .master-info {
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        padding: 4em 1em 4em 4em;
        background-color:#00000000;
    }
    
    .master-decoration-box {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 24px;
    }

    .master-decoration-box-gray {
        z-index: 1;
    }
    .master-decoration-box-black {
        z-index: 2;
    }
    
    .master-photo {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 1000;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.master-photo-img {
    width: 100%;
    height: auto;
}

.master-title {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 25px;
    color: #CB0E7F;
}

@media (min-width: 576px) {
    .master-title {
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    .master-title {
        font-size: 52px;
    }
}

.master-subtitle {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

@media (min-width: 576px) {
    .master-subtitle  {
        font-size: 20px;
        color: #ffffff;
    }
}

@media (min-width: 768px) {
    .master-subtitle  {
        font-size: 20px;
        color: #383838;
        padding-bottom: 1em;
    }
}

@media (min-width: 992px) {
    .master-subtitle  {
        font-size: 24px;
        color: #383838;
        padding-bottom: 0em;
    }
}

.master-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #383838;
}

@media (min-width: 576px) {
    .master-description {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .master-description  {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .master-description {
        font-size: 20px;
    }
}

.master-decoration-gray {
    width: 100%;
    height: 100%;
    border: 3px solid #726A6A;
    transform: rotate(4deg);
}

.master-decoration-black {
    width: 100%;
    height: 100%;
    border: 3px solid #000000;
}


.master-btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .master-btn-box {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.master-btn {
    padding: 1.3em 1.5em;
    /* width: 161px; */
    /* height: 28px; */
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid #CB0E7F;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 0;
    color: #CB0E7F;
    text-transform: uppercase;
    transition: background-color 0.2s linear;
}

@media (min-width: 576px) {
    .master-btn  {
        /* width: 250px; */
        /* height: 60px; */
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .master-btn  {
        /* width: 350px; */
        /* height: 60px; */
        font-size: 24px;
    }
}

.master-btn:hover {
    background-color: #CB0E7F;
    color: #ffffff;
}

.master-btn:active {
    background-color: #CB0E7F;
    color: #ffffff;
    box-shadow: inset 4px 4px 6px #0000003f;
}


/*Masters (коенц)*/



/*Care (начало)*/

.care h2 {
    color: #383838;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
}

.care-question {
    border: 1px solid #383838;
    border-radius: 3px;
    margin-bottom: 0.5em;
    min-height: 63px;
}

@media (min-width: 576px) {
    .care-question {
        margin-bottom: 1em;
        min-height: unset;
    }
} 

.care-question a  {
    height: 63px;
    transition: background-color 0.2s linear;
}

@media (min-width:992px) {
    .care-question a  {
        height: unset;
    }
}

.care-question a:hover {
    background-color: #383838;
}

.care-question>a {
    text-decoration: none;
}

.care-icon {
    stroke: #383838;
}

.care-question>a:hover p {
    color: #ffffff!important;
}

.care-question>a:hover .care-icon {
    stroke: #ffffff;
}

.care-question p{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    color: #383838;
}

@media (min-width: 576px) {
    .care-question p {
        font-size: 18px;
    }
}
@media (min-width: 992px) {
    .care-question p {
        font-size: 24px;
    }
}

.question-marker {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    /* max-height: 25px; */
    margin-left: 0.2em;
    transition-duration: 0.2s;
    transition-property: transform;
    position: relative;
}

.question-marker-svg {
    width: 20px; 
    height:20px; 
    position:absolute;
}

@media (min-width: 992px) {
    .question-marker {
        width: 40px;
        height: 37px;
        min-width: unset;
        min-height: unset;
        /* max-height: 25px; */
        margin-left: unset;
    }
}

.answer {
    text-align:start;
    font-size: 13px;
    line-height: 1.8em;
    margin-left: 1em;
    /* text-indent: 2em;  */
}

@media (min-width: 576px) {
    .answer {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .answer {
        font-size: 22px;
    }
  
}

.answer[closed] {
    display: none;
}

.question-marker[closed]{
    transform: rotate(180deg);
}


/*Care (конец)*/



/*Contacts (начало)*/
.contacts h2 {
    color: #383838;
    font-family: 'Montserrat';
    font-weight: 600;
}

.contacts-description {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #383838;
}

@media (min-width: 576px) {
    .contacts-description {
        font-size: 18px;
    }
}
@media (min-width: 992px) {
    .contacts-description {
        font-size: 24px;
    }
}

.social-networks-dark .network-icon{
    width: 25px;
    height: 25px;
    margin-right: 0.5em;
}

@media (min-width: 576px) {
    .social-networks-dark .network-icon {
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 992px) {
    .social-networks-dark .network-icon {
        width: 50px;
        height: 50px;
    }
}

.map {
    height: 239px;
}

@media (min-width: 576px) {
    .map {
        height: 362px;
    }
}
@media (min-width: 992px) {
    .map {
        height: 420px;
    }
}

.phone-icon-box {
    display: block;
    width: 14px;
    /* height: 14px; */
    margin-right: 0.2em;
}

@media (min-width: 576px) {
    .phone-icon-box {
        width:16px;
        height: 16px;
    }
}
@media (min-width: 992px) {
    .phone-icon-box {
        width: 18px;
        height: 18px;
    }
}

.contact {
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto';
    color: #383838;
    margin-right: 1em;
}

@media (min-width: 576px) {
    .contact {
        display: inline-block;
        font-size: 20px;

    }
}
@media (min-width: 992px) {
    .contact {
        display:block;
        font-size: 24px;

    }
}

.contact-name {
    font-weight: 600;
}

.icon-network-color{
    transition: fill 0.2s linear;
}

.contact-data{
    transition: color 0.2s linear;
    background-color: none;
    font-weight: 600;
    color: #383838;
}


.contact-data:hover{
    color: #F31F9F;
}

.contact-data:active {
    color: #CB0E7F;
}


.social-networks-dark .icon-network-color {
    fill: #383838;
}

.social-networks-dark .network-icon:hover .icon-network-color {
    fill: #F31F9F;
}

.social-networks-dark .network-icon:active .icon-network-color {
    fill: #CB0E7F;
}


/*Contacts (конец)*/



/*Footer (начало)*/
.footer {
    background-color: #383838;
}

.footer-content a {
    color: #ffffff;
}

.footer-contacts {
    font-family: 'Roboto', sans-serif;
}

.footer-network-icon{
    margin:0 0.5em;
    width: 20px;
    height: 20px;
}

@media (min-width: 576px) {
    .footer-network-icon {
        margin: 0;
        margin-right: 0.5em;
    }
}


.footer-geolocation {
    color: #ffffff;
    transition: color 0.2s linear;
}

.footer-geolocation:hover {
    color: #F31F9F;
}

.footer-geolocation:active {
    columns: #CB0E7F;
}

.footer-section-link {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    /* text-align: right; */
}

.footer-section-link,
.footer-network-icon,
.footer-phone{
    transition: color 0.2s linear;
}
 
.footer-section-link:hover,
.footer-network-icon:hover,
.footer-phone:hover{
    color: #F31F9F;
}

.footer-navigation {
    box-sizing: content-box;
}

.footer-logo {
    order: 1;
}

.footer-contacts {
    order: 2;
}

@media (min-width: 768px) {
    .footer-logo {
        order: 2;
    }

    .footer-contacts {
        order: 1;
    }

    .footer-navigation {
        order: 3;
    }
    
}
/*Footer (конец)*/


.fixed-links {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    z-index: 10;
}

.fixed-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 0.5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.37);
}

.fixed-whatsapp-link,
.fixed-tg-link {
    background-color: #CB0E7F;

}

.fixed-up-link {
    background-color: #505050;

}

/* @media (min-width: 576px) {

    
    .fixed-links {
        margin-right: 1em;
        margin-bottom: 1em;
    }
}
@media (min-width: 992px) {

} */

.fixed-img-box {
    width: 35px;
    height: 35px;
}
