/*Общие стили (начало)*/
@font-face {
    font-family: BeautifulBloom; /* Имя шрифта */
    src: url(/resources/fonts/TTF/BeautifulBloom-Regular.ttf); /* Путь к файлу со шрифтом */
}

html, 
body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn {
    width: 250px;
    height: 60px;
    border-radius: 5px;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    border:none;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #E96E9A;
}
/*Общие стили (конец)*/



/*Header (начало)*/
.header {
    background-color: #383838;
}

.menu__nav {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5%;
}

.menu__nav a {
    color: #ffffff;
}

.logo{
    font-family: BeautifulBloom;
    color: #CB0E7F;
}

.logo-small {
    font-size: 55px;
}

.logo-big {
    text-align: center;
    font-size: 120px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.phone-link {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.social-network__link {
    width: 24px;
    height: 24px;
}
/*Header (конец)*/



.content {
    flex: 1 0 auto;
}



/*Cover (начало)*/
.cover {
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('/resources/images/cover_791x495.JPG');
    background-size:cover;
    background-position: 50% 0%;
    height: calc(100vh - 82px) ;
}

.cover-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 128px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 0.1em;
}

.cover-subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #CB0E7F;
}

.cover-btn {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    height: 50px;
}
/*Cover (конец)*/



/*Hello (начало)*/
.hello {
    text-align: center;
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    color: #383838;
    padding: 5em 0
}
/*Hello (конец)*/



/*Services (начало)*/
.services {
    background-color: #383838;
    text-align: center;
}

.services h2 {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
}

.service-content {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.service-text{
    background-color: #383838;
    color: #ffffff;
   height: 120px;
}

.services-name,
.services-price {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    color: #FFFFFF;
}

.services-name {
    font-size: 24px;
    text-align: left;
}
.services-price {
    font-size: 30px;
}
/*Services (конец)*/



/*Care (начало)*/
.care {
    text-align: center;
}
.care h2 {
    color: #383838;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
}
.care-question {
    border: 1px solid #383838;
    border-radius: 3px;
}

.care-question>a {
    height: 64px;
}

.care-question p{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    color: #383838;
}

.answer {
    text-align: start;
}
/*Care (конец)*/



/*Contacts (начало)*/
/* .contacts {
} */

.contacts h2 {
    text-align: center;
    color: #383838;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
}

.contacts-description {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #383838;
}

.map {
    /* height: 100%; */
    /* display: none; */
    /* width: 658px;*/
    height: 352px;
}

.contacts-phone-img {
    width: 20px;
    height: 22px;
}

.contact-name,
.contact-data {
    font-family: 'Roboto';
    font-size: 24px;
    color: #383838;
} 

.contact-name {
    font-weight: 600;
}
.contact-data {
    font-weight: 400;
}
/*Contacts (конец)*/



/*Footer (начало)*/
.footer {
    background-color: #383838;
}

.footer-content a {
    color: #ffffff;
}

.footer-contacts {
    font-family: 'Roboto', sans-serif;
}

.footer-navigation a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
/*Footer (конец)*/